<main>

  <div>
<section class="movie-show">
  <h1 class="center">{{movie.Title}}</h1>
  <h4 class="right"><a href="public/partials/home.html">Search Page</h4></a>
  <img ng-src="{{movie.Poster}}" alt="poster" />

  <h4 class="show">Actors:  {{movie.Actors}}</h4>
  <h4 class="show">Plot:  {{movie.Plot}}</h4>
  <h4 class="show">Year:  {{movie.Year}}</h4>
  <h4 class="show">Rated:  {{movie.Rated}}</h4>
  <h4 class="show">Released:  {{movie.Released}}</h4>
  <h4 class="show">Runtime:  {{movie.Runtime}}</h4>
  <h4 class="show">Awards:  {{movie.Awards}}</h4>
  <h4 class="show">Country:  {{movie.Country}}</h4>
  <h4 class="show">Director:  {{movie.Director}}</h4>
  <h4 class="show">Genre:  {{movie.Genre}}</h4>
  <h4 class="show">Language:  {{movie.Language}}</h4>
  <h4 class="show">Writer: {{movie.Writer}}</h4>
  <h4 class="show">Imdb Rating:  {{movie.imdbRating}}</h4>
  <h4 class="show">Imdb Votes:  {{movie.imdbVotes | number: 3}}</h4>
</section>
</div>

</main>
